{% extends "base.html" %}
{% block content %}
    <h1>{{ author.name }}</h1>
    <p>
    <form action="" method="post" name="login">
        <p>
            Content: {{ form.content }}
        </p>
        <input type="submit" value="Submit">
    </form>
    <h4>Posts</h4>
    <ul>
        {% for post in author.posts %}
            <li>
                <ul>
                    <li>{{ post.body }}</li>
                    <li>{{ post.timestamp }}</li>
                </ul>
            </li>
        {% endfor %}
    </ul>
    </p>
{% endblock %}