<html>
<head>
    {% if title %}
        <title>{{ title }} - microblog</title>
    {% else %}
        <title>microblog</title>
    {% endif %}
</head>
<body>
<div>
    Microblog: <a href="/index">Home</a>
</div>
<hr>
{% block content %}{% endblock %}
</body>
</html>