{% extends "base.html" %}
{% block content %}
<h1>Hi, {{ user }}!</h1>
{% for post in posts %}
<div>
    <p>
        <a href="http://localhost:5001/author/{{ post.author.id }}">{{ post.author.name }}</a> says: <b>{{ post.body }}</b>
    </p>
</div>
{% endfor %}
{% endblock %}