{% extends "base.html" %}
{% block content %}
    <form>
    Author: <input type="text" name="authorid"><br>
    Content: <input type="text" name="content">
    <input type="submit" value="Submit">
    </form>
{% endblock %}